<section>
  <h1>Angular Pivot Table</h1>
  <div class="grid">
    <div class="col-8 max-h-screen overflow-scroll">
      <p-table styleClass="p-datatable-gridlines fadein fadeout animation-duration-2000" [columns]="selectedCols"
        [value]="items" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.name}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
          <tr>
            <td *ngFor="let col of columns">
              <!-- <ng-container *ngIf="items[i-1];else firstRowTemp">
                      {{ rowData[col.key] === items[i-1][col.key] ? '' : rowData[col.key] }}
                    </ng-container>
                    <ng-template #firstRowTemp>
                      {{ rowData[col.key] }}
                    </ng-template> -->
              {{ rowData[col.key] }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <div class="p-d-flex p-jc-center">
            <p>No records found.</p>
          </div>
        </ng-template>
      </p-table>
    </div>

    <div class="col">
      <!-- <p-listbox (onChange)="onColumnChanged($event)" [checkbox]="true" [options]="allDBColumns" [(ngModel)]="selectedCols" [multiple]="true" optionLabel="name" dataKey="key"></p-listbox> -->
      <p-pickList [keepSelection]="true" [showSourceControls]="false" [showTargetControls]="false"
        [showSourceFilter]="false" (onTargetReorder)="onColumnChanged($event)"
        (onTargetSelect)="onColumnChanged($event)" (onMoveToTarget)="onColumnChanged($event)" [source]="allDBColumns"
        [target]="selectedCols" [responsive]="true" sourceHeader="All Tables" targetHeader="Selected Tables"
        [dragdrop]="true" optionLabel="name" dataKey="key" (onMoveToSource)="onColumnChanged($event)" 
        (onMoveAllToTarget)="onColumnChanged($event)" (onMoveAllToSource)="onColumnChanged($event)">

        <ng-template let-coll pTemplate="item">
          <div>
            {{coll.name}}
          </div>
        </ng-template>

      </p-pickList>
    </div>
  </div>

</section>